#my-popover {
    height: 100vh;
    width: 100vw;
    text-align: center;
    flex-direction: revert;
    align-content: center;
    background-color: rgb(224, 219, 210);
    p {
        background-color: rgb(220, 142, 17);
        padding: 10rem 0;
    }

    #exitButton {
        position: absolute;
        top: 42px;
        right: 36px;
    }
}